body {
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-size: 2.2vmin;
}

#navBar {
    position: absolute;
    width: 100%;
    height: 5vh;
    top: 0px;
    left: 0px;
    background-color: blue;
    color: white;
}

#newsBox {
    position: absolute;
    top: 7vh;
    left: 0px;
    width: 63vw;
    height: 90vh;
    background-color: black;
    padding: 2vmin;
    color: white;
    overflow-y: auto
}

#accountBox {
    position: absolute;
    top: 5vh;
    left: 64vw;
    width: 35vw;
    height: 94vh;
    background-color: black;
    color: white;
    border-left: 1vw solid blue;
}

#loginBox {
    position: absolute;
    top: 3vh;
    left: 1vw;
    width: 28vw;
    height: 35vh;
    border: 1vmin solid blue;
    padding: 3vmin;
    display: none;
}

input {
    width: 90%;
}

#loginError {
    color: red;
}

#welcomeBox {
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 30vw;
    height: 40vh;
    display: none;
}

#actionBox {
    position: absolute;
    top: 45vh;    
    left: 2vw;
}

#playGame {
    position: relative;
    height: 20vh;
    width: 20vw;
    background-color: green;
    color: white;
    font-size: 200%;
    border-radius: 50px;
}

#advanceTurn {
    position: relative;
    height: 10vh;
    width: 10vw;
    margin-top: 5vh;
    margin-right: 5vw;
    background-color:darkgreen;
    color: white;
}

#resetMap {
    position: relative;
    height: 10vmin;
    width: 10vmin;
    background-color: red;
    color: white;
    border-radius: 100%;
}